<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io Connection Test</title>
    

</head>

<body>
    <h1>Socket.io Connection Test</h1>
    <p id="status">Connecting...</p>
    <p>Client: <b><span id="client-id"></span></b></p>
    <form>
        <label for="message">Message</label>
        <p>
            <input type="text" name="message" id="message" required>
            <button type="submit">Send</button>
        </p>
    </form>

    <div id="messages"></div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        // Connect to the server
        const socket = io("http://localhost:8000", {
    path: '/sockets/socket.io',
});

        const form = document.querySelector('form')
        const messagesDiv = document.getElementById('messages')
        const clientIdSpan = document.getElementById('client-id')
        const makeid = (length) => {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
            return result;
        };

        const clientIdentifier = makeid(6);
        clientIdSpan.innerText = clientIdentifier;


        // When the client connects to the server
        socket.on('connect', () => {
            console.log('Connected to Socket.io server');
            document.getElementById('status').innerText = 'Connected to Socket.io server!';
            socket.emit('join', {
                content: `${clientIdentifier} joined`,
                client: clientIdentifier,
                timestamp: new Date().getTime()
            });
        });

       // Listening for messages from the server
        socket.on('message', (data) => {
            // Handle incoming messages
            const newMessage = document.createElement('p');
            newMessage.innerText = `${data.client} says: ${data.message}`;
            messagesDiv.appendChild(newMessage);

            const hr = document.createElement('hr');
            messagesDiv.appendChild(hr);
        });



        // When the client disconnects from the server
        socket.on('disconnect', () => {
            console.log('Disconnected from Socket.io server');
            document.getElementById('status').innerText = 'Disconnected from Socket.io server';
        });

        // Handle socket errors
        socket.on('error', (error) => {
            console.error('Socket.io Error:', error);
            document.getElementById('status').innerText = 'Error connecting to server';
        });


        // Handling form submission
        form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const message = formData.get('message');

        // Emit message to server
        socket.emit('message', {
            content: message,
            client: clientIdentifier,
            timestamp: new Date().getTime()
        });

        form.reset();  // Reset the form after sending the message
        });
    </script>
</body>

</html>
